:root {
	--bg: #212121;
	--bg-header: #121212;
	--bg-input: #2E2E2E;
	--bg-tag: #3F3F3F;
	--text-btn: #0C0412;
	--text-title: #313131;
	--text-heading: #A5A5A5;
	--text-content: #E3E3E3;
	--highlight: #BB86FC;
	--highlight-dim: #463754;
	--box-shadow: #181818;
	--tbl-even: #2e2931;
}

[data-theme="light"] {
    --bg: #E5F3FE;
	--bg-header: #6200EE;
	--bg-input: #e9f5ff;
	--bg-tag: #3F3F3F;
	--text-btn: #0C0412;
	--text-title: #313131;
	--text-heading: #0C1618;
	--text-content: #111111;
	--highlight: #eafafc;
	--highlight-dim: #5881f379;
	--box-shadow: #cee3f2;
	--tbl-even: #dcedfa;
}

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Ubuntu', sans-serif;
	background-color: var(--bg);
	color: var(--text-content);
	padding: 0;
	margin: 0;
	top: 0; left: 0;
}

nav {
	box-shadow: 0px 3px 5px var(--box-shadow);
	background-color: var(--bg-header);
	justify-content: flex-start;
	margin-bottom: 10px;
	flex-wrap: nowrap;
	display: flex;
}

nav .selected {
	border-bottom: 2px solid var(--highlight);
	color: var(--highlight);
	font-weight: 600;
}

nav span {
	color: var(--text-heading);
	cursor: pointer;
	padding: 30px;
	width: 120px;
}

nav span:last-child {
	color: var(--text-title);
	text-align: right;
	font-weight: 800;
	cursor: default;
	flex: 1;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	text-transform: capitalize;
}

tr:nth-child(even) {
	background-color: var(--tbl-even);
}

content {
	justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
	display: none;
}

content.selected {
	display: flex;
}

content .section {
	border-bottom: 2px solid transparent;
	box-shadow: 0px 3px 5px var(--box-shadow);
	background-color: var(--bg-input);
	border-radius: 5px 5px 0 0;
	padding: 10px;
	margin: 10px;
	width: 40%;
}

content .section:focus-within {
	border-bottom: 2px solid var(--highlight);
}

input {
	border: none;
	background: none;
    border-bottom: 2px solid var(--highlight-dim);
    color: var(--text-content);
    font-weight: 600;
}

.section span {
	color: var(--text-heading);
}

.btn-main {
	background-color: var(--bg-input);
	transition: all 250ms ease;
	color: var(--highlight);
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
	min-width: 20%;
	margin: 10px;
	border: none;
	height: 50px;
	width: 50%;
}

.btn-main:hover {
	background-color: var(--highlight);
	color: var(--text-btn);
}

.ta-vertical {
    color: var(--text-content);
	resize: vertical;
	background: none;
    margin-top: 5px;
    padding: 5px;
	width: 100%;
}

.tag-container button {
	background-color: var(--bg-tag);
    border-radius: 5px;
    color: #D1D1D1;
	cursor: pointer;
	border: none;
    margin: 3px;
    padding: 5px;
}

.tag-container button::before {
    background-color: var(--bg-input);
	background-image: url('icons/close.svg');
	display: inline-block;
    border-radius: 100%;
    margin-right: 3px;
	color: transparent;
    content: "x";
    height: 15px;
    width: 15px;
}

.btn-add {
	background-color: var(--bg-header);
	color: var(--highlight);
	margin-left: 5px;
	padding: 5px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.btn-add::before {
	background-image: url('icons/add.svg');
	display: inline-block;
	color: transparent;
	margin-right: 5px;
	height: 15px;
	width: 15px;
    content: "+";
}

@media only screen and (max-width: 600px) {
	nav {
		flex-wrap: wrap;
	}

	nav span {
		padding: 10px;
		width: 100%;
		flex: 100%;
	}

	nav span:last-child {
		display: none;
	}

	content .section {
		flex-direction: column;
		width: 100%;
	}

	.btn-main {
		width: 100%;
	}
}